h2 {
    font-family: 'Noto Sans Japanese', sans-serif;
}

h3 {
    font-family: 'Noto Sans Japanese', sans-serif;
}

p {
    font-family: 'Noto Sans Japanese', sans-serif;
}

input {
    font-family: 'Noto Sans Japanese', sans-serif;
}