@import url(~sanitize.css/sanitize.css);

.left {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    border-radius: 5px;
    background: #60B99A;
    color: #fff;
    display: block;
    padding: 15px;
    padding-left: 50;
    text-decoration: none;
}

.right {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    border-radius: 5px;
    background: grey;
    color: #fff;
    display: block;
    padding: 15px;
    padding-left: 50;
    text-decoration: none;
}

.comment-section {
    list-style: none;
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
    padding: 10px;
}

.write-new {
    margin: 80px auto 0;
    width: 50%;
}

.write-new textarea {
    color:  #444;
    font: inherit;

    outline: 0;
    border-radius: 3px;
    border: 1px solid #cecece;
    background-color:  #fefefe;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;

    width:100%;
    min-height: 80px;
    padding: 15px 20px;
}

